Repository ivan3101/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run type-check, npm run format, npm run lint:fix, prettier --write, stylelint --fix

Remove gatsby-brotli.
  gatsby-config.js
  package-lock.json
  package.json
Due: none

:arrow_up: Update all dependencies.
  package-lock.json
  package.json
Due: none

:pencil2: Improve success message in contact form.
  src/components/contactForm.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:lipstick: Add responsive design.
  assets/images/rnet_mockup.png
  src/components/aboutMe.tsx
  src/components/contact.tsx
  src/components/container.tsx
  src/components/footer.tsx
  src/components/hero.tsx
  src/components/navbar.tsx
  src/components/navbarLink.tsx
  src/components/project.tsx
  src/components/skills.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:lipstick: Fix minor style bugs.
  src/components/aboutMe.tsx
  src/components/contact.tsx
  src/components/footer.tsx
  src/components/hero.module.css
  src/components/navbar.tsx
  src/components/project.tsx
  src/components/skills.tsx
  src/components/tooltip.tsx
  src/pages/index.tsx
Due: npm run type-check, npm run format, npm run lint:fix, prettier --write, stylelint --fix

Change input font size.
  src/components/formInput.tsx
Due: npm run type-check, npm run format, npm run lint:fix

Increase font size in extra large screens.
  src/pages/index.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:bug: Reduce font size in small screens.
  src/components/navbar.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:construction: Add responsive menu for mobile view.
  src/components/menuButton.module.css
  src/components/menuButton.tsx
  src/components/mobileNavbar.tsx
  src/components/resposiveMenu.tsx
  src/pages/index.tsx
Due: npm run type-check, npm run format, npm run lint:fix, prettier --write, stylelint --fix

:iphone: Finish responsive menu.
  src/components/menuButton.module.css
  src/components/menuButton.tsx
  src/components/mobileNavbar.tsx
  src/components/navbar.tsx
  src/components/responsiveNavbarLink.tsx
  src/components/resposiveMenu.module.css
  src/components/resposiveMenu.tsx
  src/pages/index.tsx
Due: npm run type-check, npm run format, npm run lint:fix, prettier --write, stylelint --fix

:bug: Fix visual bug in Chrome.
  src/styles/site.css
Due: prettier --write, stylelint --fix

:bug: Fix responsive menu height in Chrome.
  src/components/resposiveMenu.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:bug: Fix bug on click event in responsive menu.
  src/components/mobileNavbar.tsx
  src/components/resposiveMenu.tsx
Due: npm run type-check, npm run format, npm run lint:fix

Reduce view threshold in Projects section.
  src/components/projects.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:sparkles: Add image optimizations and lazy load.
  gatsby-config.js
  package-lock.json
  package.json
  src/components/aboutMe.tsx
  src/components/profileImage.tsx
  src/components/project.tsx
  src/components/projects.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:rotating_light: Add missing dependency to hook.
  src/hooks/useForm.ts
Due: npm run type-check, npm run format, npm run lint:fix

Change project mockup to eager.
  src/components/project.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:arrow_up: Update dependencies.
  package-lock.json
  package.json
Due: none

Change to images to lazy load and Add traced svg.
  src/components/profileImage.tsx
  src/components/project.tsx
  src/components/projects.tsx
Due: npm run type-check, npm run format, npm run lint:fix

Optimize SVG icons.
  assets/icons/error.svg
  assets/icons/github.svg
  assets/icons/linkedin.svg
  assets/icons/skills/Angular.svg
  assets/icons/skills/CSS.svg
  assets/icons/skills/Git.svg
  assets/icons/skills/GraphQL.svg
  assets/icons/skills/HTML.svg
  assets/icons/skills/JavaScript.svg
  assets/icons/skills/MongoDB.svg
  assets/icons/skills/MySQL.svg
  assets/icons/skills/NodeJS.svg
  assets/icons/skills/ReactJS.svg
  assets/icons/skills/TypeScript.svg
  assets/icons/skills/Webpack.svg
Due: none

Optimize hero background image.
  assets/images/hero_background.jpg
Due: none

:sparkles: Add service worker to serve page even offline.
  gatsby-config.js
  package-lock.json
  package.json
Due: none

:wrench: Add rule for Accessibility issues.
  .eslintrc.js
  package.json
Due: none

:wheelchair: Enhance Accessibility in whole project
  src/components/aboutMe.tsx
  src/components/contact.tsx
  src/components/contactForm.tsx
  src/components/footer.tsx
  src/components/hero.module.css
  src/components/iconLink.tsx
  src/components/menuButton.tsx
  src/components/navbar.tsx
  src/components/navbarLink.tsx
  src/components/profileImage.tsx
  src/components/projects.tsx
  src/components/responsiveNavbarLink.tsx
  src/components/resposiveMenu.tsx
  src/components/skillIcon.tsx
  src/components/skillIconContainer.tsx
  src/components/skills.tsx
  src/components/successMessage.tsx
  src/components/textArea.tsx
  src/hooks/useForm.ts
  src/pages/index.tsx
Due: npm run type-check, npm run format, npm run lint:fix, prettier --write, stylelint --fix

:wheelchair: Fix sematic bug.
  src/components/iconsList.tsx
  src/components/menuButton.tsx
  src/components/project.tsx
  src/components/resposiveMenu.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:bug: Fix more sematic bugs.
  src/components/aboutMe.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:wheelchair: Improve tooltip accessibility.
  src/components/contactForm.tsx
  src/components/tooltip.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:mag: Add SEO component
  gatsby-config.js
  package-lock.json
  package.json
  src/components/seo.tsx
  src/pages/index.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:bug: Fix bug in url metadata.
  gatsby-config.js
Due: none

Revert ":bug: Fix bug in url metadata."
  gatsby-config.js
Due: none

:mag: Add favicon and Improve SEO.
  gatsby-config.js
  src/components/seo.tsx
  static/apple-touch-icon-114x114.png
  static/apple-touch-icon-120x120.png
  static/apple-touch-icon-144x144.png
  static/apple-touch-icon-152x152.png
  static/apple-touch-icon-57x57.png
  static/apple-touch-icon-60x60.png
  static/apple-touch-icon-72x72.png
  static/apple-touch-icon-76x76.png
  static/favicon-128.png
  static/favicon-16x16.png
  static/favicon-196x196.png
  static/favicon-32x32.png
  static/favicon-96x96.png
  static/favicon.ico
  static/mstile-144x144.png
  static/mstile-150x150.png
  static/mstile-310x150.png
  static/mstile-310x310.png
  static/mstile-70x70.png
  static/preview.png
Due: npm run type-check, npm run format, npm run lint:fix

:bug: Fix twitter metadata tags and favicon.
  gatsby-config.js
  src/components/seo.tsx
  static/android-chrome-192x192.png
  static/android-chrome-512x512.png
  static/apple-touch-icon-114x114.png
  static/apple-touch-icon-120x120-precomposed.png
  static/apple-touch-icon-120x120.png
  static/apple-touch-icon-144x144.png
  static/apple-touch-icon-152x152-precomposed.png
  static/apple-touch-icon-152x152.png
  static/apple-touch-icon-180x180-precomposed.png
  static/apple-touch-icon-180x180.png
  static/apple-touch-icon-57x57.png
  static/apple-touch-icon-60x60-precomposed.png
  static/apple-touch-icon-60x60.png
  static/apple-touch-icon-72x72.png
  static/apple-touch-icon-76x76-precomposed.png
  static/apple-touch-icon-76x76.png
  static/apple-touch-icon-precomposed.png
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/favicon-128.png
  static/favicon-16x16.png
  static/favicon-196x196.png
  static/favicon-32x32.png
  static/favicon-96x96.png
  static/favicon.ico
  static/mstile-144x144.png
  static/mstile-150x150.png
  static/mstile-310x150.png
  static/mstile-310x310.png
  static/mstile-70x70.png
  static/safari-pinned-tab.svg
  static/site.webmanifest
Due: npm run type-check, npm run format, npm run lint:fix

:bug: Fix metadata bug.
  src/components/seo.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:bug: Fix more metadata.
  src/components/seo.tsx
Due: npm run type-check, npm run format, npm run lint:fix

Fix
  src/components/seo.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:pencil: Write project description.
  README.md
Due: none

:construction: :globe_with_meridians: Add translation to spanish
  assets/icons/switchLng.svg
  config/.tern-port
  config/i18n.js
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/aboutMe.tsx
  src/components/contact.tsx
  src/components/contactForm.tsx
  src/components/contactFormContainer.tsx
  src/components/footer.tsx
  src/components/hero.tsx
  src/components/languageSwitcher.tsx
  src/components/navbar.tsx
  src/components/projects.tsx
  src/components/resposiveMenu.tsx
  src/components/seo.tsx
  src/components/skills.tsx
  src/context/localeContext.ts
  src/hooks/useTranslation.ts
  src/locales/en.json
  src/locales/es.json
  src/pages/index.tsx
Due: npm run type-check, npm run format, npm run lint:fix

:globe_with_meridians: Add switch language button.
  src/components/languageSwitcher.tsx
  src/components/navbar.tsx
  src/components/resposiveMenu.tsx
Due: npm run type-check, npm run format, npm run lint:fix

Path conditions:
  npm run type-check: any of: *.{ts,tsx}
  npm run format: any of: *.{ts,tsx}
  npm run lint:fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.css) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.css
