Repository ivan3101/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": ["npm run format", "npm run lint:fix", "git add"],
  "*.css": ["prettier --write", "stylelint --fix", "git add"],
  "{*.{json,md}}": ["prettier --write", "git add"]
}

:sparkles: Create Hero component and Add it.
  src/components/hero.tsx
Due: npm run format, npm run lint:fix

Add JPG declaration file for Typescript.
  declarations/jpg.d.ts
Due: npm run format, npm run lint:fix

:sparkles: Create About Me component and Add it.
  images/profile.jpg
  src/components/aboutMe.tsx
  src/pages/index.tsx
Due: npm run format, npm run lint:fix

:wrench: Add color palette to Tailwind
  tailwind.config.js
Due: none

Change Hero component background image.
  images/hero_background.jpg
Due: none

Add declarations files to React.
  package-lock.json
  package.json
Due: none

:lipstick: Rewrite Hero component to use new style
  declarations/css.d.ts
  src/components/container.tsx
  src/components/hero.module.css
  src/components/hero.tsx
  src/components/highlightedText.tsx
  src/pages/index.tsx
  src/styles/site.css
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

:sparkles: Add stylelint
  .stylelintrc
  package-lock.json
  package.json
Due: none

:lipstick: Change height of Container to match his parent.
  src/components/container.tsx
Due: npm run format, npm run lint:fix

:sparkles: :lipstick: Add Navbar component
  src/components/header.tsx
  src/components/navbar.tsx
  src/components/navbarLink.tsx
  src/pages/index.tsx
Due: npm run format, npm run lint:fix

:lipstick: Rewrite AboutMe component to stick to new style guide.
  images/profile.jpg
  images/profileImage.jpg
  src/components/aboutMe.tsx
  src/pages/index.tsx
Due: npm run format, npm run lint:fix

:lipstick: Extract section header to a new Component
  assets/images/hero_background.jpg
  assets/images/profileImage.jpg
  images/github.svg
  images/instagram-logo.svg
  images/linkedin-button.svg
  images/twitter-logo-button.svg
  src/components/aboutMe.tsx
  src/components/hero.module.css
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

:sparkles: Add Skills component
  assets/icons/skills/Angular.svg
  assets/icons/skills/CSS.svg
  assets/icons/skills/Git.svg
  assets/icons/skills/GraphQL.svg
  assets/icons/skills/HTML.svg
  assets/icons/skills/JavaScript.svg
  assets/icons/skills/MongoDB.svg
  assets/icons/skills/MySQL.svg
  assets/icons/skills/NodeJS.svg
  assets/icons/skills/ReactJS.svg
  assets/icons/skills/TypeScript.svg
  assets/icons/skills/Webpack.svg
  package-lock.json
  package.json
  src/components/sectionHeader.tsx
  src/components/skillIcon.tsx
  src/components/skillIconContainer.tsx
  src/components/skills.tsx
  src/pages/index.tsx
  tailwind.config.js
Due: npm run format, npm run lint:fix

:sparkles: Add Projects component and :lipstick: Fix style bugs.
  assets/images/rnet_mockup.png
  assets/images/ujap_mockup.png
  declarations/png.d.ts
  src/components/aboutMe.tsx
  src/components/project.tsx
  src/components/projectTitle.tsx
  src/components/projects.tsx
  src/components/skillIcon.tsx
  src/pages/index.tsx
Due: npm run format, npm run lint:fix

:wrench: Change type check to only staged files
  .huskyrc
  .lintstagedrc
Due: none

Revert ":wrench: Change type check to only staged files"
  .huskyrc
  .lintstagedrc
Due: none

:recycle: Refactor to use inline SVG.
  package-lock.json
  package.json
  src/components/skillIcon.tsx
Due: npm run format, npm run lint:fix

:lipstick: Fix style bugs and Change some styles.
  src/components/hero.module.css
  src/components/iconLink.tsx
  src/components/projectTitle.tsx
  src/components/projects.tsx
  src/styles/site.css
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

:recycle: Refactor flex container of icons in new component.
  src/components/iconsList.tsx
  src/components/skills.tsx
Due: npm run format, npm run lint:fix

:sparkles: Add Contact component.
  src/components/contact.tsx
  src/components/formInput.tsx
  src/components/formLabel.tsx
  src/pages/index.tsx
  tailwind.config.js
Due: npm run format, npm run lint:fix

:sparkles: Add Footer component and :lipstick: Fix style bugs.
  src/components/footer.tsx
  src/components/navbar.tsx
  src/pages/index.tsx
Due: npm run format, npm run lint:fix

Add node version used in development.
  .nvmrc
Due: none

:sparkles: Add navbar scroll position detection
  .eslintrc.js
  package-lock.json
  package.json
  src/components/aboutMe.tsx
  src/components/contact.tsx
  src/components/hero.tsx
  src/components/navbar.tsx
  src/components/navbarActive.tsx
  src/components/navbarLink.tsx
  src/components/projects.tsx
  src/components/skills.tsx
  src/context/navbarContext.ts
  src/context/navbarDispatchContext.ts
  src/pages/index.tsx
  src/reducer/navbarReducer.ts
  src/styles/site.css
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

:sparkles: Add netlify form support.
  src/components/contact.tsx
  src/components/contactForm.tsx
Due: npm run format, npm run lint:fix

Netlify redirects.
  public/_redirects
Due: none

Fix netlify form integration.
  src/components/contact.tsx
  src/components/contactForm.tsx
  src/components/contactFormContainer.tsx
Due: npm run format, npm run lint:fix

Debug contact form.
  src/components/contactFormContainer.tsx
Due: npm run format, npm run lint:fix

Fix typo.
  src/components/contactFormContainer.tsx
Due: npm run format, npm run lint:fix

Fix typos and Fix Input onChange event.
  src/components/contactForm.tsx
  src/components/contactFormContainer.tsx
  src/components/formInput.tsx
Due: npm run format, npm run lint:fix

Remove console.log statements.
  src/components/contactFormContainer.tsx
Due: npm run format, npm run lint:fix

Fix typo in one color name
  src/components/footer.tsx
  src/components/hero.tsx
  src/components/skills.tsx
  tailwind.config.js
Due: npm run format, npm run lint:fix

:sparkles: Add Tooltip component.
  src/components/tooltip.module.css
  src/components/tooltip.tsx
  tailwind.config.js
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

:sparkles: Add Form validation
  assets/icons/error.svg
  src/components/contactForm.tsx
  src/components/contactFormContainer.tsx
  src/components/formGroup.tsx
  src/components/formInput.module.css
  src/components/formInput.tsx
  src/components/submitButton.tsx
  src/components/textArea.tsx
  src/hooks/useFocus.ts
  src/hooks/useForm.ts
  src/styles/site.css
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

:bug: Fix a bug where the tooltips overlapped the navbar.
  src/components/navbar.tsx
Due: npm run format, npm run lint:fix

:bug: Add reset form on send successful.
  src/components/contactFormContainer.tsx
  src/hooks/useForm.ts
Due: npm run format, npm run lint:fix

:bug: Error icon didn't show in textarea.
  src/components/textArea.module.css
  src/components/textArea.tsx
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

:sparkles: Add message when message in sent successfully.
  src/components/contactForm.tsx
  src/components/contactFormContainer.tsx
  src/components/successMessage.tsx
  tailwind.config.js
Due: npm run format, npm run lint:fix

Add redirect from default domain to custom domain.
  public/_redirects
Due: none

:sparkles: Add social icons in navbar.
  assets/icons/github.svg
  assets/icons/linkedin.svg
  src/components/iconLink.tsx
  src/components/navbar.tsx
Due: npm run format, npm run lint:fix

:lipstick: Change default text color to grey dark.
  src/pages/index.tsx
Due: npm run format, npm run lint:fix
